.modal-title {
    font-size: 18px;
}
.modal-header {
    padding: 0.5rem 1rem;
}
.modal-header button {
    font-size: 20px;
    border: none;
    background: none;
}
.modal-header button span {
    font-size: 30px;
}