<div class="card" >
  <div class="card-header">
    <h4>Tìm chuyến</h4>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">Một chiều</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
      <label class="form-check-label" for="inlineCheckbox3">Khứ hồi</label>
    </div>
    <form class="mt-3">
      <div class="row">
        <div class="col-md-3">
          <select class="form-control">
            <option  *ngFor="let chuyenXe of chuyenXe"
                     (click)="getDataTuyenDuong(chuyenXe.maTD)"
                     [value]="chuyenXe.maTD"
                     placeholder="Mã tuyến đường"
            >
              {{chuyenXe.maTD}}
            </option>
          </select>
        </div>
        <div class="col-md-3">
          <div class="input-group mb-3">
            <input type="datetime" class="form-control" (change)="layThongTinNgayDi($any($event).target.value)">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th scope="col">STT</th>
          <th scope="col">Tuyến đường</th>
          <th scope="col">Mã chuyến xe</th>
          <th scope="col">Ngày</th>
          <th scope="col">Giờ khởi hành</th>
          <th scope="col">Tình trạng</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </th>
          <th scope="row">1</th>
          <td>Đà Lạt - Nha Trang</td>
          <td>CX001</td>
          <td>29/07/2022</td>
          <td>7h30</td>
          <td>Còn vé</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Trở lại</a></li>
        <li class="page-item"><a class="page-link" routerLink="/booking-ticket/route-result">Tiếp tục</a></li>
      </ul>
    </nav>
  </div>
</div>


<a routerLink="/booking-ticket/route-result">kết quả route</a>
