<div class="card" >
  <div class="card-header">
    <h4>Thông tin hành khách</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <form>
          <h3>Tên hành khách</h3>
          <div class="row">
            <div class="col-md-3">
              <label for="exampleInputEmail1" class="form-label">CMND</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="col-md-3">
              <label for="exampleInputPassword1" class="form-label">Họ tên</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="col-md-3">
              <label for="exampleInputPassword1" class="form-label">Nơi sinh</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="col-md-3">
              <label for="exampleInputPassword1" class="form-label">Ngày sinh</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="exampleInputEmail1" class="form-label">Loại vé</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="col-md-3">
              <label for="exampleInputPassword1" class="form-label">Điện thoại</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="col-md-3">
              <label for="exampleInputPassword1" class="form-label">Quốc tịch</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="col-md-3">
              <label for="exampleInputPassword1" class="form-label">Email</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <h3>Thông tin chuyến đi</h3>
        <p>Giá</p>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Trở lại</a></li>
        <li class="page-item"><a class="page-link" routerLink="/booking-ticket/select-chair">Tiếp tục</a></li>
      </ul>
    </nav>
  </div>
</div>


<a routerLink="/booking-ticket/route-result">kết quả route</a>
