*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #fff;
}
.header__menu {
    z-index: 1;
    background-color: #22242a;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding-left: 10px;
}
.header__menu .title {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
}
.header__menu .title span{
    color: #4ccee8;
}
.header__menu .sidebar__btn {
    color: #fff;
    position: absolute;
    margin-left: 240px;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s;
}
.header__menu .sidebar__btn:hover {
    color: #4ccee8;
}
.header__menu ul {
    display: flex;
}
.header__menu ul li a{
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
}

.header__menu ul li a:hover{
    background: #4ccee8;
    color: #fff;
}

.header__menu ul li a:nth-child(3){
    margin: 0;
}

/* sidebar */
 .sidebar {
    z-index: 1;
    background-color: #2f323a;
    position: fixed;
    top: 70px;
    width: 250px;
    height: 100vh;
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
}
.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
}
.navbar li .navbar-link {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
}
.navbar li .navbar-link ul {
  z-index: 8;
  position: relative;
  overflow: hidden;
  width: 20rem;
  opacity: 0;
  visibility: hidden;
  transition: margin 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.navbar li .navbar-link ul.dropdown {
  opacity: 1 !important;
  visibility: visible !important;
  margin-top: 0 !important;
}
.navbar li .navbar-link li {
  color: yellow;
  padding: 2rem;
}
.navbar li .navbar-link li:not(:last-child) {
  border-bottom: 1px solid var(--color-bgr);
}
.navbar li .navbar-link li a {
  color: var(--color-dark);
}
.navbar li .navbar-link li:hover a {
  color: var(--color-red);
}
.icon {
  background-color: rgba(255, 255, 255, 0.04);
  width: 4rem;
  color: var(--color-dark);
  height: 4rem;
  text-align: center;
  font-size: 1.8rem;
  line-height: 4rem;
  position: relative;
  display: inline-block;
}
.navbar-link > span {
  padding: 2rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: var(--color-dark);
  position: relative;
  z-index: 10;
}
.navbar-link > span i {
  color: var(--color-dark);
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.navbar-link > span.active {
  background-color: var(--color-muted);
  color: #fff;
}
.navbar-link > span.active i {
  color: #fff;
}
a:hover span {
  transform: translateX(0);
}

 .sidebar__menu {
   overflow: hidden;
}
.sidebar .sidebar__menu .profile {
    text-align: center;
}
.sidebar .sidebar__menu .profile img {
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.sidebar .sidebar__menu .profile p {
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
}
.sidebar__menu .menu__items {
    width: 250px;
    overflow: hidden;
}
.sidebar__menu .menu__items .menu__item.active {
    border-radius: 35px 1px 1px 35px;
    margin-left: 10px;
    background: #80808085;
    color: #4ccee8;
    /* opacity: 0.8; */
    transition: 0.3s;
}
.menu__items .menu__item.active .menu__item--btn {
    color: #4ccee8;
    font-weight: 700;
}
.sidebar__menu .menu__item .menu__item--btn {
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 30px;
    transition: 0.3s;
    transition-property: color;
    font-size: 18px;
}

.sidebar__menu .menu__item .menu__item--btn:hover {
    color: #4ccee8;
}

.sidebar__menu .menu__item .menu__item--btn i {
    margin-right: 20px;
}

.sidebar__menu .menu__item .menu__item--btn .dropdown {
    float: right;
    font-size: 12px;
    margin-top: 3px;
    margin-right: 0;
}
.menu__item .sub__menu {
    background: #3498db;
    overflow: hidden;
    transition: 0.3s;
    max-height: 0;
    transition-property: background, max-height;
}

.menu__item .sub__menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 17px;
    padding: 20px;
    border-bottom: 1px solid #8fc5e9;
    transition: 0.3s;
    transition-property: background;
}

.menu__item .sub__menu a:hover{
    background: #55b1f0;
}

.menu__item .sub__menu i{
    padding-right: 20px;
    font-size: 20px;
}

.menu__item:target .sub__menu {
    max-height: 500px;
}

.main__container {
    width: (100% -250px);
    margin-top: 70px;
    margin-left: 250px;
    padding: 15px;
    height: 100vh;
    transition: 0.3s;
}
/* 
.container .sidebar {
    width: 70px;
}
.container.collapse .sidebar .profile img,
.container.collapse .sidebar .profile p,
.container.collapse .sidebar a span {
    display: none;
} */

.main__container {
    padding: 2.5%;
}
.breadcrumb__wrapper {
    margin-bottom: 20px;
}
 ul.breadcrumb {
    padding: 1.5% 2%;
    list-style: none;
    background-color: #eee;
    border-radius: 7px;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  } 

  .card .card__header {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 2%;
    border: 1px solid #dddddd;
    border-radius: 7px 7px 0 0;
  }
  .card__header h3 {
    text-transform: capitalize;
    color: black;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0;
  }
  .card__btn {
    background: #28a745;
    border: 1px solid #28a745;
    padding: 3px 7px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 18px;
  }
  .card__btn.blue { 
    background: #17a2b8 ;
    border: 1px solid #17a2b8;
    margin-right: 5px;
  } 
  .card__btn.red {  
    background: #dc3545 ;
    border: 1px solid #dc3545 ;
  }
  .card__btn:hover {
      opacity: 0.8;
      transition: all 0.5s;
  }
  .content-table {
    border-collapse: collapse;
    font-size: 18px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    text-align: left;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  