
.footer {
    background: url('https://thanhbuoi.com.vn/public/images/bg_dalat.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .footer__inr {
        width: 1170px;
        margin: 0 auto;
        padding: 50px 0 0 0;
        .footer__block {
            position: relative;
            display: flex;
            justify-content: space-between;
            .footer__block--item {
                flex: 0 0 30%;
                max-width: 30%;
                .footer__title {
                    color: #505150;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                .image__map {
                    img {
                        height: 300px;
                        width: 100%;
                    }
                }
                hr {
                    color: #000;
                    opacity: 1;
                }
                .footer__info {
                    ul {
                        li {
                            font-size: 16px;
                            // display: flex;
                            span:nth-child(1) {
                                margin-right: 10px;
                            }
                            span:nth-child(2) {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
        .copyright {
            text-align: center;
            color: #2a771b;
            font-weight: 700;
            padding: 15px 0;
            font-size: 18px;
        }
    }
}